h1 {
    text-align: center;
    background-color: gray;
    color: white;
}

table {
    border-collapse: collapse;
    width: 90%;
    
}
table th {
    background-color: lightgray;
}

th:last-child {
    box-sizing: border-box;
    width: 90px;
}

table tr {
    border: 2px solid black;
}

.blankRow {
    height: 20px;
}

table, th, td {
    border: 2px solid black;
    padding: 5px 15px;
    text-align: left;
}

footer {
    text-align: end;
    padding: 10px;
}

input {
    margin: 5px;
}
